In [66]:
import mysql.connector

In [67]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="admin"
)

if db.is_connected():
  print("Successfully connected to MySQL database")

Successfully connected to MySQL database

In [68]:
cursor = db.cursor() #select db

In [69]:
try:
    cursor.execute("CREATE DATABASE ftds2")
    print("Database Successfully Created")
except:
    print("Database already exist")

Database Successfully Created

In [70]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="admin",
  database="ftds"
)

cursor = db.cursor() #select db

sql = """CREATE TABLE student (
  student_id INT AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(255),
  address Varchar(255)
)
"""
cursor.execute(sql)

print("Student Table Successfully Created")

ProgrammingError: 1050 (42S01): Table 'student' already exists

In [ ]:
sql = "INSERT INTO student (name, address) VALUES (%s, %s)"
val = ("Raka", "Semarang")
cursor.execute(sql, val)

db.commit()

print("{} data added ".format(cursor.rowcount))

1 data added

In [ ]:
sql = "INSERT INTO student (name, address) VALUES (%s, %s)"
values = [
  ("Danu", "Jakarta"),
  ("Fahmi", "Surabaya"),
  ("Sardi", "Bandung"),
  ("Hana", "Depok")
]

for val in values:
  cursor.execute(sql, val)
  db.commit()

print("{} data added".format(len(values)))

4 data added

In [79]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="admin",
  database="ftds"
)

cursor = db.cursor()
sql = "SELECT * FROM student"
cursor.execute(sql)

results = cursor.fetchall()

for data in results:
  print(data)

(1, 'Rachman', 'Lombok')
(2, 'Danu', 'Jakarta')
(3, 'Fahmi', 'Surabaya')
(4, 'Sardi', 'Bandung')
(5, 'Hana', 'Depok')

In [80]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="admin",
  database="ftds"
)

cursor = db.cursor()
sql = "SELECT * FROM student"
cursor.execute(sql)
result = cursor.fetchone()
print(result)

(1, 'Rachman', 'Lombok')

In [81]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="admin",
  database="ftds"
)

cursor = db.cursor()
sql = "UPDATE student SET name=%s, address=%s WHERE student_id=%s"
val = ("Rachman", "Lombok", 1)
cursor.execute(sql, val)

db.commit()

print("{} data updated".format(cursor.rowcount))

0 data updated

In [83]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="admin",
  database="ftds"
)

cursor = db.cursor()
sql = "DELETE FROM student WHERE student_id=%s"
val = (1, )
cursor.execute(sql, val)

db.commit()

print("{} data deleted".format(cursor.rowcount))

1 data deleted

In [1]:
import mysql.connector
import os

db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="admin",
  database="ftds"
)


def insert_data(db):
  name = input("Name: ")
  address = input("Address: ")
  val = (name, address)
  cursor = db.cursor()
  sql = "INSERT INTO student (name, address) VALUES (%s, %s)"
  cursor.execute(sql, val)
  db.commit()
  print("{} data added".format(cursor.rowcount))


def show_data(db):
  cursor = db.cursor()
  sql = "SELECT * FROM student"
  cursor.execute(sql)
  results = cursor.fetchall()
  
  if cursor.rowcount < 0:
    print("No data")
  else:
    for data in results:
      print(data)


def update_data(db):
  cursor = db.cursor()
  show_data(db)
  student_id = input("Select student id> ")
  name = input("New Name: ")
  address = input("New Address: ")

  sql = "UPDATE student SET name=%s, address=%s WHERE student_id=%s"
  val = (name, address, student_id)
  cursor.execute(sql, val)
  db.commit()
  print("{} data changed".format(cursor.rowcount))


def delete_data(db):
  cursor = db.cursor()
  show_data(db)
  student_id = input("Select student id> ")
  sql = "DELETE FROM student WHERE student_id=%s"
  val = (student_id,)
  cursor.execute(sql, val)
  db.commit()
  print("{} data deleted".format(cursor.rowcount))


def search_data(db):
  cursor = db.cursor()
  keyword = input("Keyword: ")
  sql = "SELECT * FROM student WHERE name LIKE %s OR address LIKE %s"
  val = ("%{}%".format(keyword), "%{}%".format(keyword))
  cursor.execute(sql, val)
  results = cursor.fetchall()
  
  if cursor.rowcount < 0:
    print("No Data")
  else:
    for data in results:
      print(data)


def show_menu(db):
  print("=== H8 Py MySQL Exercise ===")
  print("1. Insert Data")
  print("2. Show Data")
  print("3. Update Data")
  print("4. Delete Data")
  print("5. Search Data")
  print("0. Exit")
  print("------------------")
  menu = input("Select menu> ")

  #clear screen
  os.system("clear")

  if menu == "1":
    insert_data(db)
  elif menu == "2":
    show_data(db)
  elif menu == "3":
    update_data(db)
  elif menu == "4":
    delete_data(db)
  elif menu == "5":
    search_data(db)
  elif menu == "0":
    exit()
  else:
    print("Wrong Input")


if __name__ == "__main__":
  while(True):
    show_menu(db)

=== H8 Py MySQL Exercise ===
1. Insert Data
2. Show Data
3. Update Data
4. Delete Data
5. Search Data
0. Exit
------------------